<!DOCTYPE html>
{% extends 'base.html' %}
1
<title style="text-align:center"> LOGIN PAGE</title>

{% block content %}
<title>LOGIN PAGE</title>
<html>
    

<form method='POST' action="{{url_for('login')}}">
           <br> 
        <div style="margin: 20px; padding: 15px; border: 4px white">    
        <p style="text-align:center; margin-top: 10px;">
            <input type='text' id ='username' name="username" placeholder='username'><br><br>

            <input type='password' id='password' name="password" placeholder='password'><br><br> 

            <input type='submit' value='Login'>

            <p style="text-align:center; margin-top: 10px">
                Don't have an account?
                <a href="{{url_for('register')}}">Register here</a>
</form>
 
 {% endblock %}
