<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

   


    <div class="container">
        <h1 style="text-align:center" class="title">Study Timer</h1>

        <hr>

        <div class="time-inputs">
            <input type="number" id="hours" min="0" value="0">
            <input type="number" id="minutes" min="0" max="59" value="25">
            <input type="number" id="seconds" min="0" max="59" value="0">
        </div>


        <p class="timer" id="timer"> 00:25:00 </p>

        <div class="button-wrapper">
            <button id="start">Start</button>
            <button id="stop">Stop</button>
            <button id="reset">Reset</button>

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
</body>

</html>